## .NET
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.exe
*.pdb
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]ut/

## Rider / VS Code
.idea/
*.sln.iml
.vscode/

## Publish / packages
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
publish/
**/PublishProfiles/

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Local
*.zip
.venv/
__pycache__/
